.breadcrumbs {
	&__container {
	}
	&__wrapper {
		padding: 0px 0px 80px 0px;
		white-space: nowrap;
		overflow-x: auto;

		@media (max-width: $tablet) {
			padding: 0px 0px 20px 0px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 28px;
		list-style: none;

		li {
			position: relative;
			&:not(:last-child) {
				&::before {
					content: "";
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='2' fill='white'/%3E%3C/svg%3E");
					width: 12px;
					height: 12px;
					position: absolute;
					top: 4px;
					right: -18px;
					color: #fff;
				}
			}

			a {
				font-weight: 400;
				font-size: 13px;
				line-height: 130%;
				color: #fff;
			}

			span {
				font-weight: 400;
				font-size: 13px;
				line-height: 130%;
				color: #fff;
			}
		}
	}
}
