.breadcrumbs {
	&__container {
	}
	&__wrapper {
		padding: 26px 0px 44px 0px;
		white-space: nowrap;
		overflow-x: auto;

		@media (max-width: $tablet) {
			padding: 0px 0px 20px 0px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 47px;
		list-style: none;

		li {
			position: relative;
			&:not(:last-child) {
				&::before {
					content: "";
					width: 23px;
					height: 1px;
					position: absolute;
					top: 50%;
					right: -35px;
					background-color: $mainColor;
				}
			}

			a {
				font-weight: 400;
				font-size: 18px;
				line-height: 130%;
			}

			span {
				font-weight: 400;
				font-size: 18px;
				line-height: 130%;
			}
		}
	}
}
