.feedback {
	background-color: $accentColor;
	&__body {
		padding: 60px 80px;
		display: grid;
		gap: 120px;
		grid-template-columns: 1fr 540px;

		@media (max-width: 1360px) {
			padding: 40px 0px;
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}

		@media (max-width: $tablet) {
			grid-template-columns: repeat(1, 1fr);
			gap: 14px;
		}
	}

	&__form {
		@media (max-width: $mobile) {
			border-top: 1px solid #fff;
			padding-top: 14px;
		}
	}
	&__content {
	}
	&__title {
		color: #fff;
		font-family: BebasNeueCyrillic;
		margin-bottom: 20px;
		font-size: 52px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
		text-transform: uppercase;

		@media (max-width: 1740px) {
			font-size: 46px;
		}

		@media (max-width: $mobile) {
			font-size: 30px;
			text-align: center;
		}
	}
	&__text {
		color: #fff;
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 140%;
		letter-spacing: 0.72px;
		margin-bottom: 20px;
		@media (max-width: 1740px) {
			font-size: 20px;
		}

		@media (max-width: $mobile) {
			font-size: 16px;
			text-align: center;
		}
	}
	&__subtitle {
		padding-top: 24px;
		margin-bottom: 5px;
		border-top: 1px solid #fff;
		color: #fff;
		font-size: 50px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 1.5px;
		@media (max-width: 1740px) {
			font-size: 42px;
		}

		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	&__phone {
		color: #fff;
		font-size: 50px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 1.5px;
		margin-bottom: 20px;
		display: inline-block;
		@media (max-width: 1740px) {
			font-size: 42px;
		}

		@media (max-width: $mobile) {
			font-size: 24px;
			text-align: center;
			display: block;
		}
	}
	&__social {
		display: flex;
		align-items: center;
		gap: 16px;

		@media (max-width: $mobile) {
			justify-content: center;
		}
		span {
			color: #fff;

			@media (max-width: $mobile) {
				font-size: 16px;
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
		li {
			a {
				display: flex;
				align-items: center;
				gap: 8px;
				color: #fff;
				.icon {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	&__form {
		.label {
			color: #fff;
			margin-bottom: 7px;
			display: inline-block;
		}

		.input {
			background-color: $accentColor;
			border-color: #fff;
			color: #fff;
			&::placeholder {
				color: #fff !important;
			}
		}
		.form-consent .checkbox-box {
			border-color: #fff;
		}

		.form-consent input[type="checkbox"]:checked + .checkbox-box {
			border-color: #fff;
		}

		.checkbox-text {
			color: #fff;
		}

		.form-consent .checkbox-text a {
			color: #fff;
		}
	}
}
