.fancybox__backdrop {
	background: rgba(24, 24, 27, 0.4) !important;
}

#work {
	max-width: 540px;
	border: none;
	padding: 20px;
	border-radius: 10px;

	@media (max-width: 560px) {
		max-width: 100%;
		padding: 10px;
	}
}

.popup-work {
	&__body {
		min-width: 0;
		.work__slider {
			border-radius: 10px;
			overflow: hidden;
			height: 340px;
			@media (max-width: 560px) {
				height: auto;
			}
		}
		.work__content {
			padding: 20px 0;
		}
		.direction {
			display: block !important;
		}
		.complaint {
			display: block !important;
		}
		.treatment {
			display: block !important;
		}
	}
}
