// Базові стилі спойлерів
// Сниппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	gap: 5px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	text-align: left;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #eaf3fa;
	padding: 22px 0px;
	position: relative;
	color: $color-title;
	font-size: 38px;
	font-style: normal;
	font-weight: 300;
	line-height: 160%;

	@media (max-width: 1360px) {
		font-size: 30px;
		padding: 8px 0px;
	}

	@media (max-width: $mobile) {
		font-size: 26px;
	}
	._spoller-init & {
		cursor: pointer;
		.spollers__icon {
			position: relative;
			flex: 0 0 42px;
			width: 42px;
			height: 42px;
			transition: all 0.3s ease 0s;
			padding: 7px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&._spoller-active {
			border: none;
			.spollers__icon {
				color: $accentColor;
				transform: rotate(90deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	border-bottom: 1px solid #eaf3fa;
}
