<section class="about">
    <div class="about-container">
        <div class="sections__header">
            <div class="title">
                <span>О клинике</span>
            </div>
        </div>
    </div>

    <div class="about__banner">
        <div class="about-container">
            <div class="about__content">
                <div class="about__title">Клиника стоматологии <br>
                    «белая птица» в санкт-петербурге</div>
                <div class="about__text">Более 10 лет в сфере стоматологии</div>
            </div>
        </div>
        <div class="about__media">
            <picture class="lazy image--cover">
                <source srcset="@img/about-mobile.jpg" media="(max-width: 768px)">
                <source srcset="@img/about-tablet.jpg" media="(max-width: 1360px)">
                <img data-src="@img/about.jpg" class="image lazy__item" alt="">
            </picture>
        </div>
    </div>

    <div class="achiev" data-watch>
        <div class="achiev-container">
            <div class="achiev__body">
                <div class="achiev__item">
                    <div class="achiev__text">Вылечили</div>
                    <div class="achiev__count">
                        <span class="count__text">></span>
                        <span data-digits-counter>20000</span>
                    </div>
                    <div class="achiev__text">пациентов</div>
                </div>
                <div class="achiev__item">
                    <div class="achiev__text">Установили</div>
                    <div class="achiev__count">
                        <span class="count__text">></span>
                        <span data-digits-counter>15500</span>
                    </div>
                    <div class="achiev__text">коронок</div>
                </div>
                <div class="achiev__item">
                    <div class="achiev__text">Спасли от удаления</div>
                    <div class="achiev__count">
                        <span class="count__text">></span>
                        <span data-digits-counter>10000</span>
                    </div>
                    <div class="achiev__text">зубов</div>
                </div>
            </div>
        </div>
    </div>
</section>