<section class="advantages sections">
    <div class="advantages-container">
        <div class="sections__header">
            <div class="title">
                <span>Причины, по которым выбирают нас</span>
            </div>
        </div>
        <div class="advantages__body">
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-1.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">Только врачи с опытом</div>
            </div>
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-2.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">Мы не экономим на материалах и Вашей безопасности</div>
            </div>
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-3.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">всегда несколько планов лечения</div>
            </div>
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-4.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">Прозрачная система оплаты и сроки до лечения</div>
            </div>
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-5.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">возврат 13% НДФЛ</div>
            </div>
            <div class="advantages__item">
                <div class="media">
                    <picture class="lazy image--contain">
                        <img data-src="@img/advantages/adv-6.svg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="text">Контроль плана лечения от главного врача</div>
            </div>
        </div>
    </div>
</section>