<section class="chart">
    <div class="chart-container">
        <div class="sections__header">
            <div class="title">
                <span>график приема врачей</span>
            </div>
        </div>
        <div class="chart__body">
            <div class="chart__header">
                <div class="chart__th">
                    <span>ФИО доктора</span>
                </div>
                <div class="chart__th">
                    <span>пн</span>
                </div>
                <div class="chart__th">
                    <span>вт</span>
                </div>
                <div class="chart__th">
                    <span>ср</span>
                </div>
                <div class="chart__th">
                    <span>чт</span>
                </div>
                <div class="chart__th">
                    <span>пт</span>
                </div>
                <div class="chart__th">
                    <span>сб</span>
                </div>
                <div class="chart__th"></div>
            </div>
            <div class="chart-table">
                <div class="chart-table__row">
                    <div class="chart-table__th">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>

                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <button type="button" class="btn-form">Записаться</button>
                    </div>
                </div>
                <div class="chart-table__row">
                    <div class="chart-table__th">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>

                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <button type="button" class="btn-form">Записаться</button>
                    </div>
                </div>
                <div class="chart-table__row">
                    <div class="chart-table__th">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>

                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <button type="button" class="btn-form">Записаться</button>
                    </div>
                </div>
                <div class="chart-table__row">
                    <div class="chart-table__th">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>

                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <span>9:00-14:00</span>
                    </div>
                    <div class="chart-table__th">
                        <span></span>
                    </div>
                    <div class="chart-table__th">
                        <button type="button" class="btn-form">Записаться</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart__body-mobile">
            <div data-spollers data-one-spoller class="spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>

                    <div class="spollers__body">
                        <div class="chart-table-mobile__list">
                            <div class="chart-table-mobile__row">
                                <div class="day">Пн</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Ср</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Чт</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Пт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Сб</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вс</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>

                    <div class="spollers__body">
                        <div class="chart-table-mobile__list">
                            <div class="chart-table-mobile__row">
                                <div class="day">Пн</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Ср</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Чт</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Пт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Сб</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вс</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>

                    <div class="spollers__body">
                        <div class="chart-table-mobile__list">
                            <div class="chart-table-mobile__row">
                                <div class="day">Пн</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Ср</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Чт</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Пт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Сб</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вс</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>

                    <div class="spollers__body">
                        <div class="chart-table-mobile__list">
                            <div class="chart-table-mobile__row">
                                <div class="day">Пн</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Ср</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Чт</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Пт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Сб</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вс</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <div class="doctor">
                            <div class="media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/doctor.png" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="box">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="post">Главный врач клиники</div>
                            </div>
                        </div>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>

                    <div class="spollers__body">
                        <div class="chart-table-mobile__list">
                            <div class="chart-table-mobile__row">
                                <div class="day">Пн</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Ср</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Чт</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Пт</div>
                                <div class="box">
                                    <div class="time">9:00-14:00</div>
                                    <button type="button" class="btn-form">Записаться</button>

                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Сб</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                            <div class="chart-table-mobile__row">
                                <div class="day">Вс</div>
                                <div class="box">
                                    <div class="notime">Приема нет</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>