<section class="error">
    <div class="error-container">
        <div class="error__body">
            <div class="error__media">
                <picture class="lazy image--contain">
                    <img data-src="@img/error.svg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="error__content">
                <div class="error__title">404</div>
                <div class="error__subtitle">страница не найдена</div>
                <div class="error__text">Попробуйте перейти на главную или воспользоваться поиском</div>
                <div class="error__btns">
                    <a href="#" class="btn-form">перейти к услугам</a>
                    <button type="button" class="btn-line">записаться на прием</button>
                </div>
            </div>
        </div>
    </div>
</section>