<section class="expert-card">
    <div class="expert-card-container">
        <div class="sections__header">
            <div class="title">
                <span>Конищев Виталий Константинович</span>
            </div>
        </div>
        <div class="expert-card__body">
            <div class="expert-card__content">
                <div class="expert-card__anonse">
                    <div class="expert-card__title">Стаж 18 лет.
                        Врач высшей категории</div>
                    <div class="expert-card__feedback">
                        <div class="rating__list">
                            <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                                <picture class="lazy image--contain">
                                    <img data-src="@img/rating-media-1.svg" class="image lazy__item" alt="">
                                </picture>
                            </a>
                            <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                                <picture class="lazy image--contain">
                                    <img data-src="@img/rating-media-2.svg" class="image lazy__item" alt="">
                                </picture>
                            </a>
                            <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                                <picture class="lazy image--contain">
                                    <img data-src="@img/rating-media-3.svg" class="image lazy__item" alt="">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="expert-card__descr" data-editor>
                    <p>Врач входит в пятёрку лучших специалистов города Санкт-Петербурга по имплантации и костной
                        пластике</p>
                    <p>Опыт практической деятельности в хирургической стоматологии и дентальной имплантации с 2004 года
                        в ведущих клиниках
                        Северной Столицы.</p>
                    <p>Опыт практической деятельности в хирургической стоматологии и дентальной имплантации с 2004 года
                        в ведущих клиниках
                        Северной Столицы.</p>
                    <p>Многоступенчатая система профессиональной подготовки позволяет доктору выполнять работы любой
                        сложности, реализуя
                        комплексный подход к каждому пациенту</p>
                    <p>Современным методам имплантации доктор обучался у общепризнанных звёзд мировой величины: Иштвана
                        Урбана, профессора
                        Джованни Дзукелли, Иньяки Гамборена, профессора Алессандро Поцци, профессора Роберта Нолкина,
                        др. Более 30 раз проходил
                        практику и стажировался в клиниках Италии, Германии, Испании, Голландии, Франции, Венгрии,
                        Дании.</p>
                </div>
            </div>
            <div class="expert-card__avatar">
                <div class="expert-card__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="expert-card__btns">
                    <button type="submit" class="btn-form">Записаться</button>
                    <a href="#" class="btn-line">написать отзыв</a>
                </div>
            </div>
        </div>
    </div>
</section>