<section class="feedback">
    <div class="feedback-container">
        <div class="feedback__body">
            <div class="feedback__content">
                <div class="feedback__title">Записаться на консультацию</div>
                <div class="feedback__text">Оставьте заявку и Мы свяжемся с вами в ближайшее время, ответимна
                    интересующие вас вопросы</div>
                <div class="feedback__subtitle">Есть вопросы?</div>
                <div class="feedback__text">Звоните, мы ответим с 10 до 20 час</div>
                <a href="tel:+78127700808" class="feedback__phone">+7 (812) 770-08-08</a>
                <div class="feedback__social">
                    <span>Консультация:</span>
                    <ul class="feedback__list">
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg>
                                        <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                    </svg>
                                </span>
                                <span>Telegram</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon">
                                    <svg>
                                        <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                    </svg>
                                </span>
                                <span>Whatsapp</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="feedback__form">
                <div class="form">
                    <form>
                        <div class="form__body">
                            <div class="form__row">
                                <label>
                                    <span class="label">Как к вам обращаться?</span>
                                    <input type="text" name="name" placeholder="Ваше имя" class="input" required>
                                </label>
                            </div>
                            <div class="form__row">
                                <label>
                                    <span class="label">Контактный телефон</span>
                                    <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input"
                                        required>
                                </label>
                            </div>
                            <div class="form__row">
                                <div class="form-consent">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="personal_data_agreement" required>
                                        <span class="checkbox-box"></span>
                                        <span class="checkbox-text">
                                            Нажимая на кнопку «Записаться на прием», вы соглашаетесь на <a href="#"
                                                target="_blank">обработку персональных данных.</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn-form btn-white">Записаться на прием</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>