<section class="hero">
    <div class="hero-container">
        <div class="hero__wrapper">
            <div class="sidebar">
                <ul class="sidebar__list">
                    <li>
                        <a href="#">
                            <span>Лечение</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="sub-menu__overlay">
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <a href="#">
                            <span>Удаление</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="sub-menu__overlay">
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Пункт меню1</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню1</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню1</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню1</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span>Протезирование</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                        <div class="sub-menu__overlay">
                            <ul class="sub-menu">
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню2</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                                <li>
                                    <a href="">Пункт меню</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span>Коронки</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Виниры</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Имплантация</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Костная и десневая пластика при имплантации</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Пародонтология</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Ортодонтия</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hero__body">
                <div class="rating">
                    <div class="rating__title">рейтинг клиники</div>
                    <div class="rating__img">
                        <picture class="lazy image--contain">
                            <img data-src="@img/rating.svg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="rating__subtitle">Мы работаем качественно, безболезненно, с заботой к каждому пациенту.
                    </div>
                    <div class="rating__list">
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-1.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-2.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-3.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                    </div>

                </div>
                <div class="slider">
                    <div class="hero__slider swiper">
                        <div class="hero__wrapper swiper-wrapper">
                            <div class="hero__slide swiper-slide">
                                <div class="hero__content">
                                    <div class="title">лечение зубов <br> в рассрочку <br> и кредит</div>
                                    <button type="button" class="btn">получить предложение</button>
                                </div>

                                <div class="hero__media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/hero-slide-1.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="hero__slide swiper-slide">
                                <div class="hero__content">
                                    <div class="title">2лечение зубов в рассрочку и кредит</div>
                                    <button type="button" class="btn">получить предложение</button>
                                </div>
                                <div class="hero__media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/hero-slide-1.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="hero__slide swiper-slide">
                                <div class="hero__content">
                                    <div class="title">3лечение зубов в рассрочку и кредит</div>
                                    <button type="button" class="btn">получить предложение</button>
                                </div>
                                <div class="hero__media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/hero-slide-1.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="hero__slide swiper-slide">
                                <div class="hero__content">
                                    <div class="title">4лечение зубов в рассрочку и кредит</div>
                                    <button type="button" class="btn">получить предложение</button>
                                </div>
                                <div class="hero__media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/hero-slide-1.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="form">
                    <form>
                        <div class="form__body">
                            <div class="form__row">
                                <label>
                                    <span class="label">Как к вам обращаться?</span>
                                    <input type="text" name="name" placeholder="Ваше имя" class="input" required>
                                </label>
                            </div>
                            <div class="form__row">
                                <label>
                                    <span class="label">Контактный телефон</span>
                                    <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input"
                                        required>
                                </label>
                            </div>
                            <div class="form__row">
                                <div class="form-consent">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="personal_data_agreement" required>
                                        <span class="checkbox-box"></span>
                                        <span class="checkbox-text">
                                            Нажимая на кнопку «Записаться на прием», вы соглашаетесь на <a href="#"
                                                target="_blank">обработку персональных данных.</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn-form">Записаться на прием</button>
                        </div>
                    </form>
                    <div class="form__media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/form-bg.jpg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>