<section class="hero">
    <div class="hero-container">
        <div class="hero__wrapper">
            <div class="sidebar">
                <ul class="sidebar__list">
                    <li>
                        <a href="#">
                            <span>Лицензия и сертификаты</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Возврат 13% НДФЛ</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Виды оплаты</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Положение об оплате</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Положение о гарантиях</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Правила поведения пациентов и посетителей</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Договор об оказании платных мед.услуг</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Как добраться</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>График приема пациентов</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="certificates">
                <div class="sections__header">
                    <div class="title">
                        <span>Лицензия и сертификаты</span>
                    </div>
                    <div class="btns">
                        <button type="button" class="certificates-prev swiper-button-prev">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </button>
                        <button type="button" class="certificates-next swiper-button-next">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="certificates__slider swiper">
                    <div class="certificates__wrapper swiper-wrapper">
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-3.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="certificates__slide swiper-slide">
                            <div class="certificates__item">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/certificates-3.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>