<section class="contacts sections">
    <div class="contacts-container">
        <div class="sections__header">
            <div class="sections__box">
                <div class="title"><span>Контакная информация</span></div>
                <div class="subtitle">Отделения в Санкт-Петербурге</div>
            </div>
            <div class="btns">
                <button type="button" class="contacts-prev swiper-button-prev">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>
                <button type="button" class="contacts-next swiper-button-next">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="contacts__slider swiper">
            <div class="contacts__wrapper swiper-wrapper">
                <div class="contacts__slide swiper-slide">
                    <div class="content">
                        <div class="name">Центральная клиника:</div>
                        <div class="box-grid">
                            <div class="box">
                                <div class="adress">г. Санкт-Петербург,
                                    пр. Просвещения, 23а</div>
                                <div class="work">
                                    Пн – Сб с 09:00 до 20:00, <br>
                                    Вс – выходной
                                </div>
                            </div>
                            <div class="transport">
                                <div class="name">Транспорт:</div>
                                <div class="transport__box">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#human"></use>
                                        </svg>
                                    </span>
                                    <span class="text">От м. Просвещения
                                        400 м, 5-10 минут пешком</span>
                                </div>
                                <div class="name">На автомобиле:</div>
                                <a href="#" class="link-accent">Проложить маршрут</a>
                            </div>
                        </div>
                        <div class="box-flex-end">
                            <div class="wrap">
                                <div class="phone">
                                    <span>Call-центр:</span><a href="tel:88127700808">8 (812) 770-08-08</a>
                                </div>
                                <a href="#" class="link-accent">Заказать обратный звонок</a>
                            </div>
                            <div class="wrap">
                                <ul class="social__list">
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                                </svg>
                                            </span>
                                            <span>Telegram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                                </svg>
                                            </span>
                                            <span>Whatsapp</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-flex">
                            <div class="wrap">
                                <div class="email">
                                    <span>E-mal:</span><a href="mailto:info@pticastom.ru">info@pticastom.ru</a>
                                </div>
                            </div>
                            <div class="wrap">
                                <button type="submit" class="btn-form">Получть консультацию</button>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <div class="map__header">
                            <a href="#" rel="noopener noreferrer nofollow">Карта</a>
                            <a href="#" rel="noopener noreferrer nofollow">Как пройти</a>
                        </div>
                        <div class="map__body" id="map" data-lat="60.051059" data-lng="30.33785">

                        </div>
                    </div>
                </div>
                <div class="contacts__slide swiper-slide">
                    <div class="content">
                        <div class="name">Ортодонтический центр:</div>
                        <div class="box-grid">
                            <div class="box">
                                <div class="adress">г. Санкт-Петербург,
                                    пр. Просвещения, 23а</div>
                                <div class="work">
                                    Пн – Сб с 09:00 до 20:00, <br>
                                    Вс – выходной
                                </div>
                            </div>
                            <div class="transport">
                                <div class="name">Транспорт:</div>
                                <div class="transport__box">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#human"></use>
                                        </svg>
                                    </span>
                                    <span class="text">От м. Просвещения
                                        400 м, 5-10 минут пешком</span>
                                </div>
                                <div class="name">На автомобиле:</div>
                                <a href="#" class="link-accent">Проложить маршрут</a>
                            </div>
                        </div>
                        <div class="box-flex-end">
                            <div class="wrap">
                                <div class="phone">
                                    <span>Call-центр:</span><a href="tel:88127700808">8 (812) 770-08-08</a>
                                </div>
                                <a href="#" class="link-accent">Заказать обратный звонок</a>
                            </div>
                            <div class="wrap">
                                <ul class="social__list">
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                                </svg>
                                            </span>
                                            <span>Telegram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                                </svg>
                                            </span>
                                            <span>Whatsapp</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-flex">
                            <div class="wrap">
                                <div class="email">
                                    <span>E-mal:</span><a href="mailto:info@pticastom.ru">info@pticastom.ru</a>
                                </div>
                            </div>
                            <div class="wrap">
                                <button type="submit" class="btn-form">Получть консультацию</button>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <div class="map__header">
                            <a href="#" rel="noopener noreferrer nofollow">Карта</a>
                            <a href="#" rel="noopener noreferrer nofollow">Как пройти</a>
                        </div>
                        <div class="map__body" id="map" data-lat="60.151059" data-lng="31.83785">
                        </div>
                    </div>
                </div>
                <div class="contacts__slide swiper-slide">
                    <div class="content">
                        <div class="name">Центральная клиника:</div>
                        <div class="box-grid">
                            <div class="box">
                                <div class="adress">г. Санкт-Петербург,
                                    пр. Просвещения, 23а</div>
                                <div class="work">
                                    Пн – Сб с 09:00 до 20:00, <br>
                                    Вс – выходной
                                </div>
                            </div>
                            <div class="transport">
                                <div class="name">Транспорт:</div>
                                <div class="transport__box">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#human"></use>
                                        </svg>
                                    </span>
                                    <span class="text">От м. Просвещения
                                        400 м, 5-10 минут пешком</span>
                                </div>
                                <div class="name">На автомобиле:</div>
                                <a href="#" class="link-accent">Проложить маршрут</a>
                            </div>
                        </div>
                        <div class="box-flex-end">
                            <div class="wrap">
                                <div class="phone">
                                    <span>Call-центр:</span><a href="tel:88127700808">8 (812) 770-08-08</a>
                                </div>
                                <a href="#" class="link-accent">Заказать обратный звонок</a>
                            </div>
                            <div class="wrap">
                                <ul class="social__list">
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                                </svg>
                                            </span>
                                            <span>Telegram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                                </svg>
                                            </span>
                                            <span>Whatsapp</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-flex">
                            <div class="wrap">
                                <div class="email">
                                    <span>E-mal:</span><a href="mailto:info@pticastom.ru">info@pticastom.ru</a>
                                </div>
                            </div>
                            <div class="wrap">
                                <button type="submit" class="btn-form">Получть консультацию</button>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <div class="map__header">
                            <a href="#" rel="noopener noreferrer nofollow">Карта</a>
                            <a href="#" rel="noopener noreferrer nofollow">Как пройти</a>
                        </div>
                        <div class="map__body">
                            <picture class="lazy image--cover">
                                <img data-src="@img/map.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="contacts__slide swiper-slide">
                    <div class="content">
                        <div class="name">Центральная клиника:</div>
                        <div class="box-grid">
                            <div class="box">
                                <div class="adress">г. Санкт-Петербург,
                                    пр. Просвещения, 23а</div>
                                <div class="work">
                                    Пн – Сб с 09:00 до 20:00, <br>
                                    Вс – выходной
                                </div>
                            </div>
                            <div class="transport">
                                <div class="name">Транспорт:</div>
                                <div class="transport__box">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#human"></use>
                                        </svg>
                                    </span>
                                    <span class="text">От м. Просвещения
                                        400 м, 5-10 минут пешком</span>
                                </div>
                                <div class="name">На автомобиле:</div>
                                <a href="#" class="link-accent">Проложить маршрут</a>
                            </div>
                        </div>
                        <div class="box-flex-end">
                            <div class="wrap">
                                <div class="phone">
                                    <span>Call-центр:</span><a href="tel:88127700808">8 (812) 770-08-08</a>
                                </div>
                                <a href="#" class="link-accent">Заказать обратный звонок</a>
                            </div>
                            <div class="wrap">
                                <ul class="social__list">
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                                </svg>
                                            </span>
                                            <span>Telegram</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="icon">
                                                <svg>
                                                    <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                                </svg>
                                            </span>
                                            <span>Whatsapp</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-flex">
                            <div class="wrap">
                                <div class="email">
                                    <span>E-mal:</span><a href="mailto:info@pticastom.ru">info@pticastom.ru</a>
                                </div>
                            </div>
                            <div class="wrap">
                                <button type="submit" class="btn-form">Получть консультацию</button>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <div class="map__header">
                            <a href="#" rel="noopener noreferrer nofollow">Карта</a>
                            <a href="#" rel="noopener noreferrer nofollow">Как пройти</a>
                        </div>
                        <div class="map__body">
                            <picture class="lazy image--cover">
                                <img data-src="@img/map.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>