<section class="sales sections">
    <div class="sales-container">
        <div class="sections__header">
            <div class="title">
                <span>Скидки и специальные предложения</span>
                <a href="#">Все акции клиники</a>
            </div>
        </div>
        <div class="sales__body">
            <article class="sales__item">
                <div class="sales__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/sales-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="sales__content">
                    <div class="name">Протезирвание с опорой на импланты</div>
                    <div class="price">Скидка 30%</div>
                </div>
            </article>
            <article class="sales__item">
                <div class="sales__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/sales-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="sales__content">
                    <div class="name">Комплексная чистка зубов ультразвуком и Air Flow импортными материалами с
                        фторлаком</div>
                    <div class="price">5 000 ₽</div>
                </div>
            </article>
            <article class="sales__item">
                <div class="sales__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/sales-3.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="sales__content">
                    <div class="name">Премиум имплант “Название импланта” (Швеция)</div>
                    <div class="price">40 000 ₽</div>
                </div>
            </article>
            <article class="sales__item">
                <div class="sales__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/sales-4.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="sales__content">
                    <div class="name">Премиум имплант “Название импланта” (Швеция)</div>
                    <div class="price">40 000 ₽</div>
                </div>
            </article>
        </div>
        <div class="sections__footer">
            <a href="#">Все акции клиники</a>
        </div>
    </div>
</section>