<section class="experts sections">
    <div class="experts-container">
        <div class="sections__header">
            <div class="title">
                <span>наши врачи</span>
                <a href="#">Все врачи клиники</a>
            </div>
            <div class="btns">
                <button type="button" class="experts-prev swiper-button-prev">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>
                <button type="button" class="experts-next swiper-button-next">
                    <svg>
                        <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="experts__slider swiper">
            <div class="experts__wrapper swiper-wrapper">
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-2.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-2.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-2.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
                <div class="experts__slide swiper-slide">
                    <article class="expert">
                        <div class="expert__media">
                            <picture class="lazy image--cover">
                                <img data-src="@img/expert-1.jpg" class="image lazy__item" alt="">
                            </picture>
                            <div class="expert__post">Главный врач клиники</div>
                        </div>
                        <div class="expert__content">
                            <div class="expert__wrapper">
                                <div class="name">Конищев Виталий Константинович</div>
                                <div class="specialization">Челюстно-лицевой хирург высшей категории</div>
                                <div class="experience">Стаж работы 19 лет</div>
                                <div class="description" data-editor>
                                    Один из самых квалифицированных челюстно-лицевых хирургов
                                    и стоматологов-имплантологов в Санкт-Петербурге. Входит
                                    в top-10 лучших специалистов города.
                                </div>
                            </div>
                            <span>Подробнее</span>
                        </div>
                        <a href="#" class="link-stretched"></a>
                    </article>
                </div>
            </div>

        </div>
        <div class="sections__footer">
            <a href="#">Все врачи клиники</a>
        </div>
    </div>
</section>