<section class="questions sections">
    <div class="questions-container">
        <div class="sections__header">
            <div class="title">
                <span>Есть вопросы?</span>
            </div>
        </div>
        <div class="questions__body">
            <div data-spollers data-one-spoller class="spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Как часто мне следует посещать стоматолога?</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="questions__content" data-editor>
                            <p>Во время вашего первого визита вы пройдете комплексное стоматологическое обследование,
                                включая, при необходимости,
                                рентген. Мы обсудим вашу стоматологическую историю, любые ваши проблемы и составим
                                индивидуальный план лечения.</p>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Могу ли вернуть 13% НДФЛ?</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="questions__content" data-editor>
                            <p>Во время вашего первого визита вы пройдете комплексное стоматологическое обследование,
                                включая, при необходимости,
                                рентген. Мы обсудим вашу стоматологическую историю, любые ваши проблемы и составим
                                индивидуальный план лечения.</p>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Какие технологии вы используете в своем лечении?</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="questions__content" data-editor>
                            <p>Во время вашего первого визита вы пройдете комплексное стоматологическое обследование,
                                включая, при необходимости,
                                рентген. Мы обсудим вашу стоматологическую историю, любые ваши проблемы и составим
                                индивидуальный план лечения.</p>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Как планируется лечение?</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="questions__content" data-editor>
                            <p>Во время вашего первого визита вы пройдете комплексное стоматологическое обследование,
                                включая, при необходимости,
                                рентген. Мы обсудим вашу стоматологическую историю, любые ваши проблемы и составим
                                индивидуальный план лечения.</p>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Могу ли я пройти стоматологическое лечение, если я беременна?</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="questions__content" data-editor>
                            <p>Во время вашего первого визита вы пройдете комплексное стоматологическое обследование,
                                включая, при необходимости,
                                рентген. Мы обсудим вашу стоматологическую историю, любые ваши проблемы и составим
                                индивидуальный план лечения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>