<section class="page-news">
    <div class="news-container">
        <div class="sections__header">
            <div class="title">
                <span>@@title</span>
            </div>
        </div>
        <div class="news__list">
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
            <article class="news__item">
                <div class="media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="content">
                    <div class="box">
                        <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                        <div class="name">Персонаьный подход</div>
                        <div class="exerpt">В стоматологической клиники «БЕЛАЯ ПТИЦА» мы ценим каждого нашего пациента и
                            подходим к каждому индивидуально. 🦷✨ Наш
                            главный принцип — учитывать все ваши пожелания и особенности, чтобы помочь вам решить любые
                            проблемы с зубами
                            максимально эффективно и надежно. Мы подбираем оптимальный план лечения, который подходит
                            именно вам по стоимости и
                            медицинским показаниям. </div>
                    </div>
                    <span class="link">Подробнее</span>
                    <a href="#" class="link-stretched"></a>
                </div>
            </article>
        </div>
        @@include('_pagination.htm',{})
    </div>
</section>