<section class="page-news">
    <div class="news-container">
        <div class="sections__header">
            <div class="title">
                <span>@@title</span>
            </div>
        </div>
        <div class="page-news__body">
            <div class="page-news__content" data-editor>
                <time datetime="25 августа, 25" class="data">25 августа, 25</time>
                <p>🦷✨ Бесплатная консультация в стоматологической клинике «БЕЛАЯ ПТИЦА»! ✨🦷 Заботитесь о здоровье
                    своей улыбки? В «БЕЛАЯ
                    ПТИЦА» мы предлагаем бесплатную консультацию терапевта, гигиениста и эндодонтиста при лечении в день
                    обращения — вместо
                    обычных 1000 рублей! Почему стоит выбрать нас? ✔ Профессиональные специалисты с большим опытом ✔
                    Современное
                    оборудование и комфортная атмосфера ✔ Индивидуальный подход к каждому пациенту ✔ Быстрое и
                    качественное лечение без
                    лишних ожиданий Не откладывайте заботу о зубах на потом — приходите к нам сегодня и получите
                    экспертную консультацию
                    бесплатно! Ваше здоровье — наша главная задача. 📞
                </p>
            </div>
            <div class="page-news__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>
        <div class="page-news__content" data-editor="">
            <p>🦷✨ Бесплатная консультация в стоматологической клинике «БЕЛАЯ ПТИЦА»! ✨🦷 Заботитесь о здоровье
                своей улыбки? В «БЕЛАЯ
                ПТИЦА» мы предлагаем бесплатную консультацию терапевта, гигиениста и эндодонтиста при лечении в день
                обращения — вместо
                обычных 1000 рублей! Почему стоит выбрать нас? ✔ Профессиональные специалисты с большим опытом ✔
                Современное
                оборудование и комфортная атмосфера ✔ Индивидуальный подход к каждому пациенту ✔ Быстрое и
                качественное лечение без
                лишних ожиданий Не откладывайте заботу о зубах на потом — приходите к нам сегодня и получите
                экспертную консультацию
                бесплатно! Ваше здоровье — наша главная задача. 📞
            </p>
        </div>
    </div>
    <div class="news sections">
        <div class="news-container ">
            <div class="sections__header">
                <div class="title">
                    <span>Статьи</span>
                    <a href="#">Все статьи</a>
                </div>
                <div class="btns">
                    <button type="button" class="news-prev swiper-button-prev">
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                        </svg>
                    </button>
                    <button type="button" class="news-next swiper-button-next">
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="news__grid">
                <div class="news__slider swiper">
                    <div class="news__wrapper swiper-wrapper">
                        <div class="news__slide swiper-slide">
                            <article class="news__card">
                                <div class="media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="content">
                                    <div class="name">После лечения в Стоматологии "Белая птица" вы сможете вернуть 13%
                                        от
                                        стоимости услуг!</div>
                                    <div class="exerpt">Провелось леение, в результате которого, пациенту
                                        установлен
                                        постоянный несъемный протез на имплантах</div>
                                    <span>Подробнее</span>
                                    <a href="" class="link-stretched"></a>
                                </div>
                            </article>
                        </div>
                        <div class="news__slide swiper-slide">
                            <article class="news__card">
                                <div class="media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="content">
                                    <div class="name">После лечения в Стоматологии "Белая птица" вы сможете вернуть 13%
                                        от
                                        стоимости услуг!</div>
                                    <div class="exerpt">Провелось леение, в результате которого, пациенту установлен
                                        постоянный несъемный протез на имплантах</div>
                                    <span class="link-accent">Подробнее</span>
                                    <a href="" class="link-stretched"></a>
                                </div>
                            </article>
                        </div>
                        <div class="news__slide swiper-slide">
                            <article class="news__card">
                                <div class="media">
                                    <picture class="lazy image--cover">
                                        <img data-src="@img/news.jpg" class="image lazy__item" alt="">
                                    </picture>
                                </div>
                                <div class="content">
                                    <div class="name">После лечения в Стоматологии "Белая птица" вы сможете вернуть 13%
                                        от
                                        стоимости услуг!</div>
                                    <div class="exerpt">Провелось леение, в результате которого, пациенту установлен
                                        постоянный несъемный протез на имплантах</div>
                                    <span class="link-accent">Подробнее</span>
                                    <a href="" class="link-stretched"></a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="rating">
                    <div class="rating__title">рейтинг клиники</div>
                    <div class="rating__img">
                        <picture class="lazy image--contain">
                            <img data-src="@img/rating.svg" class="image lazy__item" alt="">
                        </picture>
                    </div>
                    <div class="rating__subtitle">Мы работаем качественно, безболезненно, с заботой к каждому пациенту.
                    </div>
                    <div class="rating__list">
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-1.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-2.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                        <a href="#" class="rating__media" target="_blank" rel="noopener noreferrer nofollow">
                            <picture class="lazy image--contain">
                                <img data-src="@img/rating-media-3.svg" class="image lazy__item" alt="">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>