<section class="page">
    <div class="page-container">
        <div class="sections__header">
            <div class="title">
                <span>Текстовая страница</span>
            </div>
        </div>
        <div class="page__body" data-editor>
            <p>
                Текст на замену. Обычное протезирование не дает полного эффекта, поскольку искусственные коронки через
                время проседают,
                не имея фундамента – прочного корня и кости.
            </p>
            <p>При недостаточном объеме тканей челюстной кости провести имплантацию невозможно. Чтобы искусственный
                корень хорошо
                прижился, не было отторжения, требуется прочная
                и надежная основа. Тонкая или хрупкая структура не сможет удерживать имплантат.</p>
            <p>Кость атрофируется, если после удаления зуба прошел год
                и более. Причина такому явлению – отсутствие нагрузки.
                Но недостаточность костной ткани встречается и из-за аномального строения челюсти. В обоих случаях
                остеопластика
                показана перед имплантацией зубов.</p>
            <h2>текст на замену В клиниках  имеется следующая инновационная и цифровая аппаратура:</h2>
            <ul>
                <li>Текст на замену. компьютерные дентальные томографы (КТ) PLANMECA PROMAX 3D и ортопатомографы
                    Planmeca;</li>
                <li>Текст на замену. оптические приборы: бинокуляры  и микроскопы последнего поколения Leica М320;</li>
                <li>Текст на замену. имплантологические системы бренда мирового уровня Nobel Biocare, Ankylos;</li>
                <li>Текст на замену. аппараты для профессионального отбеливания зубов ZOOM 4 и BEYOND;</li>
            </ul>
            <div class="information">
                <p>
                    Текст на замену. Обычное протезирование не дает полного эффекта, поскольку искусственные коронки
                    через
                    время проседают,
                    не имея фундамента – прочного корня и кости.
                </p>
            </div>
        </div>
    </div>
</section>