<section class="page-stories">
    <div class="stories-container">
        <div class="sections__header">
            <div class="title">
                <span>Истории пациентов</span>
            </div>
        </div>
        <div class="stories__grid">
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
            <article class="story">
                <div class="story__media">
                    <picture class="lazy image--cover">
                        <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                    </picture>
                </div>
                <div class="story__content">
                    <div class="story__wrapper">
                        <div class="name">Имплантация All-on-4</div>
                        <div class="description" data-editor>
                            <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                            <p>Лечение: Провелось леение, в результате которого, пациенту установлен постоянный
                                несъемный протез на имплантах</p>
                        </div>
                    </div>
                    <span>Подробнее</span>
                </div>
                <a href="#" class="link-stretched"></a>
            </article>
        </div>
        @@include('_pagination.htm',{})
    </div>
</section>