<section class="page-sales">
    <div class="sales-container">
        <div class="sections__header">
            <div class="title">
                <span>@@title</span>
            </div>
        </div>
        <div class="page-sales__body">
            <div class="page-sales__content">
                <div class="page-sales__box">
                    <div class="page-sales__media">
                        <picture class="lazy image--cover">
                            <img data-src="@img/sales-1.jpg" class="image lazy__item" alt="">
                        </picture>
                        <span class="stock">10%</span>
                        <time datetime="" class="date">30-09-2025</time>
                    </div>
                </div>
                <div class="date__time">Срок действия акции: 30-09-2025</div>
                <div class="page-sales__descr" data-editor>
                    <p>cкидка 10% на ОРТОПЕДИЧЕСКОЕ лечение - на всё съемное и несъёмное протезирование, за исключением
                        установки временных
                        абатментов и абатментов Multi-Unit.</p>
                    <p>cкидка 10% на ОРТОПЕДИЧЕСКОЕ лечение - на всё съемное и несъёмное протезирование, за исключением
                        установки временных
                        абатментов и абатментов Multi-Unit.</p>
                </div>
            </div>
            <div class="page-sales__form">
                <div class="page-sales__title">Записаться на приём</div>
                <form>
                    <div class="form__body">
                        <div class="form__row">
                            <label>
                                <span class="label">Как к вам обращаться?</span>
                                <input type="text" name="name" placeholder="Ваше имя" class="input" required>
                            </label>
                        </div>
                        <div class="form__row">
                            <label>
                                <span class="label">Контактный телефон</span>
                                <input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input" required>
                            </label>
                        </div>
                        <div class="form__row">
                            <div class="form-consent">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="personal_data_agreement" required>
                                    <span class="checkbox-box"></span>
                                    <span class="checkbox-text">
                                        Нажимая на кнопку «Оставить заявку», вы соглашаетесь на <a href="#"
                                            target="_blank">обработку персональных данных.</a>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn-form">Оставить заявку</button>
                    </div>
                </form>
                <div class="page-sales__contacts">
                    <div class="feedback__subtitle">Есть вопросы?</div>
                    <div class="feedback__text">Звоните, мы ответим с 10 до 20 час</div>
                    <a href="tel:+78127700808" class="feedback__phone">+7 (812) 770-08-08</a>
                    <div class="feedback__social">
                        <span>Консультация:</span>
                        <ul class="feedback__list">
                            <li>
                                <a href="#">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#tg"></use>
                                        </svg>
                                    </span>
                                    <span>Telegram</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon">
                                        <svg>
                                            <use xlink:href="@img/icons/sprite.svg#wa"></use>
                                        </svg>
                                    </span>
                                    <span>Whatsapp</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>