<section class="page-prices sections">
    <div class="prices-container">
        <div class="sections__header">
            <div class="title">
                <span>Цены</span>
            </div>
        </div>
        <div class="prices__body">
            <div data-spollers data-one-spoller class="spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Консультация</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="prices__list">
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием врача-стоматолога первичный</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием врача-стоматолога первичный"
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием врача-стоматолога повторный</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием врача-стоматолога повторный"
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием Главного врача Конищева В.К.</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием Главного врача Конищева В.К."
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Проф. гигиена</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">
                        <div class="prices__list">
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием врача-стоматолога первичный</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием врача-стоматолога первичный"
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием врача-стоматолога повторный</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием врача-стоматолога повторный"
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                            <div class="prices__item">
                                <div class="wrapper">
                                    <div class="name">Прием Главного врача Конищева В.К.</div>
                                    <div class="descr">Осмотр, консультация</div>
                                </div>
                                <div class="box">
                                    <div class="price__box">
                                        <div class="old-price">600 ₽</div>
                                        <div class="new-price">540 ₽</div>
                                    </div>
                                    <button type="button" data-name="Прием Главного врача Конищева В.К."
                                        class="btn-form">Записаться</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Терапия</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">Контент спойлера</div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Хирургия</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">Контент спойлера</div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Ортопедия</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">Контент спойлера</div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Ортодонтия</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">Контент спойлера</div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="spollers__title">
                        <span>Анастезия, инъекции</span>
                        <span class="spollers__icon">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                            </svg>
                        </span>
                    </button>
                    <div class="spollers__body">Контент спойлера</div>
                </div>
            </div>
        </div>
    </div>
</section>