<div class="pagination">
    <a class="prev" href="№">
        <svg>
            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
        </svg>
    </a>
    <a class="page-numbers" href="#">1</a>
    <span class="page-numbers current" aria-current="page">2</span>
    <span class="page-numbers">...</span>
    <a class="page-numbers" href="#">14</a>
    <a class="next" href="#">
        <svg>
            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
        </svg>
    </a>
</div>