<section class="page-stories">
    <div class="stories-container">
        <div class="sections__header">
            <div class="title">
                <span>@@title</span>
            </div>
        </div>
        <div class="stories__body">
            <div class="stories__content">
                <div class="name">Имплантация A||-on-4</div>
                <div class="direction">Направление: <a href="#" class="link">Имплантация A||-on-4</a>; <a href="#"
                        class="link">Ортондия</a></div>
                <div class="doctor">Врач: <a href="#" class="link">Конищев В. К.</a></div>
                <div class="complaint">
                    <p><span>Жалобы:</span> Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                        сторону кушать было невозможно. Хотелось
                        вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                </div>
                <div class="treatment">
                    <p>
                        <span>Лечение:</span> Сначала удалили зубы, затем провели дентальную имплантацию на верхней
                        и нижней
                        челюстях. В течение трех дней
                        установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                        постоянный несъемный протез
                        на имплантах
                    </p>
                </div>
            </div>
            <div class="stories__media">
                <div class="history__slider swiper">
                    <div class="history__wrapper swiper-wrapper">
                        <div class="history__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                        <div class="history__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="stories sections">
        <div class="stories-container">
            <div class="sections__header">
                <div class="title">
                    <span>Истории пациентов</span>
                    <a href="#">Все истории пациентов</a>
                </div>
                <div class="btns">
                    <button type="button" class="stories-prev swiper-button-prev">
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                        </svg>
                    </button>
                    <button type="button" class="stories-next swiper-button-next">
                        <svg>
                            <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="stories__slider swiper">
                <div class="stories__wrapper swiper-wrapper">
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-2.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                    <div class="stories__slide swiper-slide">
                        <article class="story">
                            <div class="story__media">
                                <picture class="lazy image--cover">
                                    <img data-src="@img/story-1.jpg" class="image lazy__item" alt="">
                                </picture>
                            </div>
                            <div class="story__content">
                                <div class="story__wrapper">
                                    <div class="name">Имплантация All-on-4</div>
                                    <div class="description" data-editor>
                                        <p>Жалобы: Было стеснительно улыбаться и нормально есть</p>
                                        <p>Лечение: Провелось леение, в результате которого, пациенту установлен
                                            постоянный
                                            несъемный протез на имплантах</p>
                                    </div>
                                </div>
                                <span>Подробнее</span>
                            </div>
                            <a href="#" class="link-stretched"></a>
                        </article>
                    </div>
                </div>

            </div>

            <div class="sections__footer">
                <a href="#">Все истории пациентов</a>
            </div>
        </div>
    </div>
</section>