<section class="search">
    <div class="search-container">
        <div class="sections__header">
            <div class="title">
                <span>@@title</span>
            </div>
        </div>
        <div class="search__body">
            <div class="search__form">
                <form>
                    <div class="search__wrapper">
                        <input type="text" name="search" placeholder="Введите запрос" class="input-search" required>
                        <button type="submit" class="btn-search">
                            <svg>
                                <use xlink:href="@img/icons/sprite.svg#search"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <h2>Результат поиска : статьи</h2>
            <div class="search__grid">
                <div class="search__item">
                    <a href="#" class="search__title">Коронки подготовительные материалы</a>
                    <div class="search__descr">Записаться на прием Посмотреть работы Отзывы Для записи можно позвонить:
                        +7 (812) 445-99-35 Коронка в стоматологии —
                        защитный протез-футляр, который фиксируется на верхнюю часть зуба для восстановления его
                        целостности. Изделие
                        изготавливается по слепку, с высокой точностью повторяя оттенок эмали. Для создания и установки
                        в большинстве случаев
                        требуется всего несколько дней и два визита к ортопеду. […]</div>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Коронки подготовительные материалы</a>
                    <div class="search__descr">Записаться на прием Посмотреть работы Отзывы Для записи можно позвонить:
                        +7 (812) 445-99-35 Коронка в стоматологии —
                        защитный протез-футляр, который фиксируется на верхнюю часть зуба для восстановления его
                        целостности. Изделие
                        изготавливается по слепку, с высокой точностью повторяя оттенок эмали. Для создания и установки
                        в большинстве случаев
                        требуется всего несколько дней и два визита к ортопеду. […]</div>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Коронки подготовительные материалы</a>
                    <div class="search__descr">Записаться на прием Посмотреть работы Отзывы Для записи можно позвонить:
                        +7 (812) 445-99-35 Коронка в стоматологии —
                        защитный протез-футляр, который фиксируется на верхнюю часть зуба для восстановления его
                        целостности. Изделие
                        изготавливается по слепку, с высокой точностью повторяя оттенок эмали. Для создания и установки
                        в большинстве случаев
                        требуется всего несколько дней и два визита к ортопеду. […]</div>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Коронки подготовительные материалы</a>
                    <div class="search__descr">Записаться на прием Посмотреть работы Отзывы Для записи можно позвонить:
                        +7 (812) 445-99-35 Коронка в стоматологии —
                        защитный протез-футляр, который фиксируется на верхнюю часть зуба для восстановления его
                        целостности. Изделие
                        изготавливается по слепку, с высокой точностью повторяя оттенок эмали. Для создания и установки
                        в большинстве случаев
                        требуется всего несколько дней и два визита к ортопеду. […]</div>
                </div>
                <div class="search__item">
                    <a href="#" class="search__title">Коронки подготовительные материалы</a>
                    <div class="search__descr">Записаться на прием Посмотреть работы Отзывы Для записи можно позвонить:
                        +7 (812) 445-99-35 Коронка в стоматологии —
                        защитный протез-футляр, который фиксируется на верхнюю часть зуба для восстановления его
                        целостности. Изделие
                        изготавливается по слепку, с высокой точностью повторяя оттенок эмали. Для создания и установки
                        в большинстве случаев
                        требуется всего несколько дней и два визита к ортопеду. […]</div>
                </div>

            </div>
            @@include('_pagination.htm',{})
        </div>
    </div>
</section>