<section class="service">
    <div class="service-container">
        <div class="service__body">
            <div class="service__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/service.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="service__content">
                <h1 class="title"><span>Лечение зубов</span></h1>
                <ul class="page__list">
                    <li>
                        <a href="#">Цены</a>
                    </li>
                    <li>
                        <a href="#">врачи</a>
                    </li>
                    <li>
                        <a href="#">вопрос-ответ</a>
                    </li>
                </ul>
                <ul class="service__list">
                    <li>
                        <a href="#">
                            <span>Кариес</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Перелечивание зуба</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Пломбирование каналов</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Эндодонтия</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Киста зуба</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Лечение под микроскопом</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Пульпит</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Периодонтит</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Пломбирование зуба</span>
                            <span class="icon">
                                <svg>
                                    <use xlink:href="@img/icons/sprite.svg#arrow-slider"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="service__btn">
                    <button type="submit" class="btn-form">Записаться на прием</button>
                </div>
            </div>
        </div>
    </div>
</section>