<section class="service">
    <div class="service-container">
        <div class="service__body">
            <div class="service__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/service.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
            <div class="service__content">
                <h1 class="title"><span>Лечение зубов</span></h1>
                <ul class="page__list">
                    <li>
                        <a href="#">Цены</a>
                    </li>
                    <li>
                        <a href="#">врачи</a>
                    </li>
                    <li>
                        <a href="#">вопрос-ответ</a>
                    </li>
                </ul>
                <div class="service__descr" data-editor>
                    <p>Костная пластика в стоматологии — это процесс восстановления костной ткани челюсти в участке
                        отсутствующих зубов. Обычно
                        проводят перед имплантацией зубов, когда нужно увеличить объем кости, тем самым повысив
                        эффективность фиксации
                        искусственных зубных корней.</p>
                </div>
                <div class="service__btn">
                    <button type="submit" class="btn-form">Записаться на прием</button>
                </div>
            </div>
        </div>
    </div>
</section>