<section class="service sections">
    <div class="service-container">
        <div class="service__wrapper">
            <div class="service__description" data-editor>
                <h2>Лечение зубов взрослым</h2>
                <p>Все виды лечения зубов у взрослых в нашей клинике проводятся высококвалифицированными специалистами с
                    использованием
                    современного оборудования и материалов по доступным ценам, что делает стоматологию доступной и
                    эффективной для всех
                    жителей и гостей города.</p>
                <p>Здоровые зубы - это важная часть поддержания здоровья и красоты улыбки. </p>
                <p>Одним из основных проблем зубов у взрослых является кариес. В стоматологической клинике Белая Птица в
                    Санкт-Петербурге
                    проводится комплексное лечение кариеса, включающее удаление пораженных тканей, антисептическую
                    обработку и
                    восстановление зуба с использованием современных материалов.</p>
                <p>Также предлагаем широкий спектр эстетических процедур, таких как отбеливание зубов, реставрация
                    передних зубов с
                    использованием виниров и фотополимерных материалов.</p>
                <p>Большое внимание уделяем также профилактике заболеваний полости рта у взрослых пациентов. Регулярные
                    профилактические
                    осмотры, гигиеническое обучение и профессиональная чистка зубов позволяют сохранить здоровье зубов и
                    десен на долгие
                    годы.</p>
            </div>
            <div class="service__media">
                <picture class="lazy image--cover">
                    <img data-src="@img/service-descr.jpg" class="image lazy__item" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>