<section class="works">
    <div class="works-container">
        <div class="sections__header">
            <div class="title">
                <span>Фото работ</span>
            </div>
        </div>
        <div class="works__body">
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">Имплантация A||-on-4</div>
                    <div class="direction">Направление: <a href="#" class="link">Имплантация A||-on-4</a>; <a href="#"
                            class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> Сначала удалили зубы, затем провели дентальную имплантацию на верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">123Имплантация A||-on-4</div>
                    <div class="direction">123Направление: <a href="#123" class="link">Имплантация A||-on-4</a>; <a
                            href="#123" class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#123" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> 123Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> 123Сначала удалили зубы, затем провели дентальную имплантацию на
                            верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">Имплантация A||-on-4</div>
                    <div class="direction">Направление: <a href="#" class="link">Имплантация A||-on-4</a>; <a href="#"
                            class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> Сначала удалили зубы, затем провели дентальную имплантацию на верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">123Имплантация A||-on-4</div>
                    <div class="direction">123Направление: <a href="#123" class="link">Имплантация A||-on-4</a>; <a
                            href="#123" class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#123" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> 123Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> 123Сначала удалили зубы, затем провели дентальную имплантацию на
                            верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">Имплантация A||-on-4</div>
                    <div class="direction">Направление: <a href="#" class="link">Имплантация A||-on-4</a>; <a href="#"
                            class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> Сначала удалили зубы, затем провели дентальную имплантацию на верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">123Имплантация A||-on-4</div>
                    <div class="direction">123Направление: <a href="#123" class="link">Имплантация A||-on-4</a>; <a
                            href="#123" class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#123" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> 123Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> 123Сначала удалили зубы, затем провели дентальную имплантацию на
                            верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">Имплантация A||-on-4</div>
                    <div class="direction">Направление: <a href="#" class="link">Имплантация A||-on-4</a>; <a href="#"
                            class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> Сначала удалили зубы, затем провели дентальную имплантацию на верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
            <article class="work__card">
                <div class="work__slider swiper">
                    <div class="work__wrapper swiper-wrapper">
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-2.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                        <div class="work__slide swiper-slide">
                            <picture class="lazy image--cover">
                                <img data-src="@img/work-1.jpg" class="image lazy__item" alt="123">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="work__content">
                    <div class="name">123Имплантация A||-on-4</div>
                    <div class="direction">123Направление: <a href="#123" class="link">Имплантация A||-on-4</a>; <a
                            href="#123" class="link">Ортондия</a></div>
                    <div class="doctor">Врач: <a href="#123" class="link">Конищев В. К.</a></div>
                    <div class="complaint">
                        <p><span>Жалобы:</span> 123Было стеснительно улыбаться, неудобно кушать, застревала еда. На одну
                            сторону кушать было невозможно. Хотелось
                            вернуть свою прежнюю улыбку и больше не выбирать что кушать, а что нет.</p>
                    </div>
                    <div class="treatment">
                        <p>
                            <span>Лечение:</span> 123Сначала удалили зубы, затем провели дентальную имплантацию на
                            верхней
                            и нижней
                            челюстях. В течение трех дней
                            установили адаптационный протез на обе челюсти. Спустя 6-8 месяцев пациенту будет установлен
                            постоянный несъемный протез
                            на имплантах
                        </p>
                    </div>
                    <button type="submit" class="link" data-work>Подробно</button>
                </div>
            </article>
        </div>
        @@include('_pagination.htm',{})
    </div>
</section>