//====================================================================================================
.footer {
	&__wrapper {
		background-color: $accentColor;
	}
	&__body {
		padding: 40px 0;
		display: flex;
		align-items: start;

		@media (max-width: 1360px) {
			flex-direction: column;
			gap: 40px;
			align-items: normal;
		}

		@media (max-width: $mobile) {
			gap: 20px;
		}
	}

	&__flex {
		display: flex;
		gap: 90px;
		margin-right: 120px;
		@media (max-width: 1740px) {
			flex-direction: column;
			gap: 20px;
		}

		@media (max-width: 1360px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 100px;
			margin-right: 0;
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(1, 1fr);
			gap: 10px;
		}
	}
	&__logo {
		flex: 0 0 360px;
		@media (max-width: 1740px) {
			flex: 0 0 100%;
		}
		a {
			display: inline-block;
			margin-bottom: 36px;

			@media (max-width: $mobile) {
				margin-bottom: 20px;
			}
		}

		.branches {
			&__list {
				display: flex;
				flex-direction: column;
				gap: 32px;

				@media (max-width: $mobile) {
					gap: 10px;
				}
				li {
					span {
						display: block;
					}
					.name {
						color: #fff;
						font-size: 32px;
						font-weight: 300;
						line-height: normal;
						margin-bottom: 20px;
						@media (max-width: 1740px) {
							font-size: 28px;
						}

						@media (max-width: $mobile) {
							margin-bottom: 6px;
							font-size: 22px;
						}
					}
					.adress {
						color: #fff;
						font-size: 22px;
						font-weight: 300;
						line-height: 140%;
						letter-spacing: 0.66px;

						@media (max-width: $mobile) {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	&__contacts {
		flex: 0 0 350px;
		@media (max-width: 1740px) {
			flex: 0 0 100%;
		}
	}
	&__works {
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		line-height: 140%;
		letter-spacing: 0.66px;
		margin-bottom: 20px;

		@media (max-width: $mobile) {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
	&__call {
		margin-bottom: 35px;

		@media (max-width: $mobile) {
			margin-bottom: 25px;
		}
	}
	&__box {
		display: flex;
		gap: 18px;
		margin-bottom: 8px;

		@media (max-width: 1740px) {
			gap: 10px;
		}
		span {
			color: #fff;
			font-size: 22px;
			font-weight: 300;
			line-height: 140%;
			letter-spacing: 0.66px;
		}
		a {
			color: #fff;
			font-size: 32px;
			font-weight: 300;
			line-height: 23px;
			@media (max-width: 1740px) {
				font-size: 28px;
			}
		}
	}
	&__actions {
		display: flex;
		flex-direction: column;
		gap: 15px;
		.name {
			color: #fff;
			font-size: 32px;
			font-weight: 300;
			line-height: 30px;
			@media (max-width: 1740px) {
				font-size: 28px;
			}

			@media (max-width: $mobile) {
				font-size: 22px;
			}
		}
	}
	&__social {
		display: flex;
		align-items: center;
		gap: 32px;
		li {
			a {
				color: #fff;
				font-size: 28px;
				font-weight: 300;
				display: flex;
				align-items: center;
				gap: 8px;

				@media (max-width: $mobile) {
					font-size: 18px;
				}
				.icon {
					width: 30px;
					height: 30px;
					flex: 0 0 30px;
				}
			}
		}
	}
	&__grid {
		display: flex;

		@media (max-width: 1360px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 77px;
		}

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
			gap: 15px;
		}
	}
	&__menu {
		&:not(:last-child) {
			margin-right: 40px;

			@media (max-width: 1740px) {
				margin-right: 100px;
			}

			@media (max-width: 1360px) {
				margin-right: 0px;
			}
		}

		@media (max-width: $mobile) {
			&:nth-child(2) {
				order: 1;
			}
		}

		.name {
			color: #fff;
			font-size: 32px;
			font-weight: 300;
			line-height: 23px;
			margin-bottom: 18px;
			display: inline-block;

			@media (max-width: $mobile) {
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@media (max-width: $mobile) {
			gap: 10px;
		}
		li {
			a {
				color: #fff;
				font-size: 22px;
				font-style: normal;
				font-weight: 300;
				line-height: 140%;
				letter-spacing: 0.66px;
				display: inline-block;
				position: relative;

				@media (max-width: $mobile) {
					font-size: 18px;
				}
				@media (any-hover: hover) {
					&:hover {
						&::after {
							width: 100%;
						}
					}
				}
				&::after {
					content: "";
					width: 0%;
					height: 2px;
					background-color: #fff;
					position: absolute;
					bottom: 1px;
					left: 0;
					transition: all 0.3s ease 0s;
				}
			}
		}
	}
	&__copy {
		padding: 35px 0;

		@media (max-width: 1024px) {
			padding: 25px 0;
		}
		.copy {
			text-align: center;
			color: #bbc4d7;
			font-size: 24px;
			font-weight: 300;

			@media (max-width: 1024px) {
				font-size: 18px;
			}

			@media (max-width: $mobile) {
				font-size: 16px;
			}
		}
	}
	&__copy-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		margin-bottom: 14px;

		@media (max-width: 1024px) {
			flex-direction: column;
			gap: 5px;
		}
		li {
			line-height: 100%;
			a {
				font-size: 24px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				transition: all 0.3s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						color: $accentColor;
					}
				}

				@media (max-width: 1024px) {
					font-size: 18px;
				}

				@media (max-width: $mobile) {
					font-size: 16px;
				}
			}
		}
	}
}

//====================================================================================================
